body {
  background-color: white;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  min-height: 100px;
}

main {
  min-height: 100vh;
}


/* burger menu */
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(60, 60, 60);
  ;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* logo */

.logo {
  margin: 70px;
  align-items: center;
  padding-bottom: 15px;
}

/* navbar */

.navbar {
  top: 0;
  background-color: black;
  width: 100%;
  height: 70px;
  font-family: helvetica;
  background-position: top;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;

}

.navbarContent {
  display: flex;
}

.item {
  font-weight: bold;
  letter-spacing: 0.5px;
  display: flex;
  list-style-type: none;
  margin: 20px;
}

.search:hover,
.keranjang:hover,
.profil:hover{
  color: rgb(201, 201, 201);
  background-color: rgba(191, 191, 191, 0.406);
  padding-top: 35px;
  padding-bottom: 20px;
}

a {
  margin: 10px;
  padding: 15px;
}

.hp:hover,
.ipad:hover,
.jam:hover,
.pods:hover {
  color: rgb(201, 201, 201);
  background-color: rgba(191, 191, 191, 0.406);
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hp,
.ipad,
.jam,
.pods {
  color: whitesmoke;
  text-decoration: none;
  align-items: center;
  padding: 20px;
  font-family: helvetica;

}


.about,
.services,
.contact,
.menu {
  color: whitesmoke;
  text-decoration: none;
  align-items: center;
  margin: 10px;
  font-family: calibri;


}

.about:hover,
.contact:hover,
.services:hover,
.menu:hover {
  color: grey;

}


/* slideshow */

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
}

.slide img {
  width: 100%;
  height: 100%;
  transition: 2s;
}

/* navigation */

.navigation {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
}

.navigation .bar {

  padding-right: 100px;
  background: rgba(128, 128, 128, 0.434);
  color: white;
  border: 7px;
  border-radius: 20px;
  margin: 7px;
  cursor: pointer;
}

.navigation .bar:hover {
  background: white;
  transition: 0.5s;
}

/* image transfer */

input#gambar-2:checked~.slides .slide img {
  margin-left: -100%;
}

input#gambar-3:checked~.slides .slide img {
  margin-left: -200%;
}



/* input */

input {
  visibility: hidden;
}

input#gambar-1:checked~.slides .navigation #bar-1 {
  background: white;
}
input#gambar-2:checked~.slides .navigation #bar-2 {
  background: white;
}

input#gambar-3:checked~.slides .navigation #bar-3 {
  background: white;
}




/* judul */
.home{
  
  font-family: calibri;
  font-weight: 100;
  margin-left: 70px;
  margin-top: 10px;
}
.home>a{
  text-decoration: none;
  color: black;
  font-family: calibri;
  font-weight: 100;
  font-size: 17px;
}
.hr{
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

/* footer */

.container {
  max-width: 1170px;
  margin: auto;
  font-family: calibri;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #333;
  padding: 20px;
  padding-left: 3px;
}

.logo2 {
  margin-right: 15px;
}

.teks{
  color: white;
  font-family: calibri;
  line-height: 20px;
  font-weight: 200;
}

.footer-col {
  width: 15%;
  padding: 50px;
  display: flex;
  padding-top: 5px;
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-weight: 800;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;

}

.footer-col ul li a:hover {
  font-weight: 900;

}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;

}

.footer-col .social-links a:hover {
  color: #333;
  background-color: whitesmoke;
}